.DS_Store

# Emacs

/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/url/
/emacs/.emacs.d/.mc-lists.el
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/recentf
/emacs/.emacs.d/network-security.data
/emacs/.emacs.d/smex-items