snippet log
IO.puts "==================="
IO.inspect ${0:${VISUAL}}
IO.puts "==================="
endsnippet

snippet vlog
a = ${0:${VISUAL}}
IO.puts "==================="
IO.inspect a
IO.puts "==================="
a
endsnippet

snippet ins
IO.inspect ${0:${VISUAL}}
endsnippet
